<div class="header-left">
  <div id="logo">
    <a href="/">
      <img class="img-responsive" alt="Your Store" title="Giày đá bóng chính hãng" src="/static/{{{siteinfo.customer_username}}}/images/systems/{{siteinfo.logo}}">
    </a>
  </div>
</div>
<div class="right-block">
  <ul>
    <li><a href="/">{{i18n "homepage"}}</a></li>
    <li><a href="/tinh-nang">{{i18n "features"}}</a></li>
    <li><a href="/dang-ky-dai-ly">{{i18n "agent_registration"}}</a></li>
    <li><a href="/website-mau">{{i18n "template"}}</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/lien-he">{{i18n "contact"}}</a></li>
  </ul>
</div>