<nav id="menu">
		<ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active">
      </li>
      <li><a href="/{{lang}}">{{i18n "homepage"}}</a></li>
      <li><a href="/{{language}}/tinh-nang">{{i18n "features"}}</a></li>
      <li><a href="/{{language}}/dang-ky-dai-ly">{{i18n "agent_registration"}}</a></li>
      <li><a href="/website-mau">{{i18n "template"}}</a></li>
      <li><a href="/{{language}}/blog">Blog</a></li>
      <li><a href="/lien-he">{{i18n "contact"}}</a></li>
    </ul>
</nav>
		