<div class="footer-container">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 flex-end">
        <div class="col-xs-4 col-sm-6">
          <img class="" alt="Your Store" title="Giày đá bóng chính hãng" src="{{base_url}}/static/{{{siteinfo.customer}}}/images/systems/{{siteinfo.logo}}" width="230">
        </div>
        <div class="col-xs-8 col-sm-6">
          <p class="fmn">Liên hệ với chúng tôi</p>
          <div class="footer_address">
            {{siteinfo.company_name}}
          </div>
          <div class="footer_address">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            Địa chỉ: {{siteinfo.customer_address}}
          </div>
          <div class="footer_address">
            <i class="fa fa-phone" aria-hidden="true"></i>
            Điện thoại: {{siteinfo.customer_phone}}
          </div>

          <div class="footer_address">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Email: {{siteinfo.customer_email}}
          </div>
        </div>
      </div>

      {{#each sitefooter as |footer|}}
      <div class="col-md-3 col-sm-6 col-xs-6">
        <p class="fmn">{{footer.footer_name}}</p>
        <ul>
        {{#each footer.footer_child as |childfooter|}}
        <li><a href="/{{childfooter.child_url}}">{{{childfooter.child_name}}}</a></li>
        {{/each}}
        </ul>
      </div>
      {{/each}}

    </div>
    <div id="clear"></div>
  </div>
</div>
<div class="footer-content-bottom">
  <div class="container">
    <p>© 2023 <a href="https://softnests.com">softnests.com</a>. All rights reserved</p>
  </div>
</div>
<script>
$().ready(function() {
		// validate signup form on keyup and submit
		$("#newsletters").validate({
			rules: {
				newsletter: {
          required: true,
					checkEmailExist: true,
        }
			},
			messages: {
				newsletter:
        {
          required: "Email không được để trống!",
					checkEmailExist: "Email đã tồn tại!",
        },
			},
			submitHandler: function(form) {
				var email = document.getElementById("newsletter").value;
		    $.ajax({
		        url:"/api/subscribe",
		          type: "POST",
		          data:{email:email},
		          success: function(response) {
                toastr.success("Đăng ký nhận bản tin thành công!");

		          }            
		    });
		  },
		});
		$.validator.addMethod("checkEmailExist", function(value, element) {
      var isSuccess = false;
		  $.ajax({
   			    type: "GET",
   	    	  url: '/api/validate-email?email='+value,
            async: false,
   	        success:function(result){
              if(result?.statusCode == 200){
                isSuccess = true;
              }
              else{
                isSuccess = false;
              }
   	        },
            error: function (xhr, ajaxOptions, thrownError) {
              isSuccess = false;
            }
      });
      return isSuccess;
		}, "Email đã tồn tại!");
});
toastr.options = {
  "closeButton": true,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-bottom-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

</script>