    
<div class="rokan-product-heading rokan-onsale-heading">
  <h2>Sản phẩm <span class="sup-title">mới</span></h2>
</div>
<div class="newproductcont">
  <div class="row">
    {{#each newproducts as |productitem|}}
				<div class="hot_product_item col-xs-6 col-sm-6 col-md-2">
					<div class="hot_product_item_inner">
					<div class="product_images">
						<a href="/{{productitem.seo_url}}"><img src="{{../base_url}}/static/{{productitem.image_path}}medium/{{productitem.image}}" alt={{productitem.alt}}></a>
						<ul class="cdz-product-labels">
						{{#if productitem.new}}
							<li class="label-item new"><div class="label-content">Mới</div></li>
						{{/if}}
						{{#if productitem.salepec}}
							<li class="label-item sale"><div class="label-content">-{{productitem.salepec}}%</div></li>
						{{/if}}
						</ul>
					</div>
					<div class="product_detail">
						<p class="product_name"><a href="/{{productitem.seo_url}}">{{truncateString productitem.detail.[0].name 45}}</a></p>
						<div id="clear"></div>
						<div class="stars-rating">
						<div class="star-rating">
							<span class="star-{{productitem.rating}}"></span>
						</div>
						</div>
						<div id="clear"></div>
						<div class="product_price">
							<p>{{formatCurrency productitem.price '₫'}}</p>
						</div>
						<div class="sale_pricebeauty">
							<p>{{formatCurrency productitem.sale_price '₫'}}</p>
						</div>
						<div id="clear"></div>
					</div>
					</div>
				</div>
    {{/each}}
  </div>
  <div id="clear"></div>
</div>