<!DOCTYPE html>
<html lang="vi">
<head>
	<title>{{title}}</title>
  <meta name="keyword" content="">
  <meta content="{{description}}" name="description">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="{{orgimage}}">
  <link rel="canonical" href="{{canonical}}">

	<link rel="stylesheet" href="/layout/{{layout}}/css/all.css" />
	<link rel="stylesheet" href="/layout/{{layout}}/css/animate.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/baguetteBox.min.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/bootsnav.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/bootstrap-select.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/carousel-ticker.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/code_animate.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/custom.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/jquery-ui.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/responsive.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/style.css" />
  <link rel="stylesheet" href="/layout/{{layout}}/css/superslides.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="INDEX,FOLLOW" name="robots">
  <meta name="copyright" content="Giayfutsal.com.vn - Giày đá bóng chính hãng">
  <meta name="author" content="Giayfutsal.com.vn - Giày đá bóng chính hãng">
  <meta http-equiv="audience" content="General">
  <meta name="resource-type" content="Document">
  <meta name="distribution" content="Global">
  <meta name="revisit-after" content="1 days">
  <meta name="GENERATOR" content="Giayfutsal.com.vn - Giày đá bóng chính hãng">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:site_name" content="Giayfutsal.com.vn">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="vi_VN">
  <meta name="RATING" content="GENERAL">
  <meta charset="utf-8">
</head>
<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p>LIÊN HỆ : <a href="#"> +11 900 800 100</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="#"><i class="fa fa-user s_color"></i> My Account</a></li>
                            <li><a href="#"><i class="fas fa-location-arrow"></i> Our location</a></li>
                            <li><a href="#"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="login-box">
						<select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
							<option>Register Here</option>
							<option>Sign In</option>
						</select>
					</div>
        </div>
      </div>
        </div>
    </div>
    <!-- End Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="#"><img src="images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="index.html">Trang chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">Giới thiệu</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Sản phẩm</a>
                            <ul class="dropdown-menu">
								<li><a href="shop.html">Sidebar Shop</a></li>
								<li><a href="shop-detail.html">Shop Detail</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">Hình ảnh</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact-us.html">Liên hệ</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
							<a href="#">
								<i class="fa fa-shopping-bag"></i>
								<span class="badge">3</span>
								<p>My Cart</p>
							</a>
						</li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <div class="content" id="content">
        {{{body}}}
    </div>
      <footer class="footer">
          {{>footer}}
      </footer>
    </div> <!-- /container -->
    <script type="text/javascript" src="/layout/{{layout}}/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/popper.min.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/jquery.superslides.min.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/inewsticker.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/bootsnav.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/images-loded.min.js"></script>

  <script type="text/javascript" src="/layout/{{layout}}/js/baguetteBox.min.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/contact-form-script.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/custom.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/form-validator.min.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/isotope.min.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/jquery-ui.js"></script>
  <script type="text/javascript" src="/layout/{{layout}}/js/owl.carousel.min.js"></script>
</body>
  
</html>
