	<div class="best_seller_product">
			<div class="tab-title">
        <h4>
          <span class="word1">Sản phẩm</span>
          <span class="word2">Bán chạy</span>
        </h4>
			</div>
			<div class="newproductcont">
        <ul id="tabs-v" class="tabs">
              {{#each list_products_by_more_info as |infodetais|}}
                  <li data-title="{{{infodetais.default_name}}}">  
					{{#each infodetais.list_products as |products|}}
					<div class="col-xs-6 col-sm-6 col-md-3 {{products.class}}">
						<div class="s_product_item">
							<div class="s_product_images">
								<a href="/{{products.seo_url}}"><img src="/static/{{products.image_path}}/medium/{{products.image}}" alt="{{products.alt}}"></a>
							</div>
							<div class="s_product_detail">
								<a href="/{{products.seo_url}}">{{truncateString products.detail.[0].name 47}}</a>
								<div class="s_product_price">
									{{#if products.price}}
										<p class="s_price">Giá: {{formatCurrency products.price}}₫</p>
									{{/if}}
									{{#if products.sale_price}}
									<p class="s_true_price">Giá: {{formatCurrency products.sale_price}} Đ</p>
									{{/if}}
								</div>
							</div>
							</div>
						</div>
                  	{{/each}}
				  </li>
              {{/each}}
          
        </ul>
			</div>
	</div>
  <script>
		document.addEventListener('DOMContentLoaded', () => {
			// create horizontal tabs
			new VanillaTabs({
				'selector': '#tabs-h',	// default is ".tabs"
				'type': 'horizontal', 	// can be horizontal / vertical / accordion
				'responsiveBreak': 840,	// tabs become accordion on this device width
				'activeIndex' : 0				// active tab index (starts from 0 ). Can be -1 for accordions.
			});

			// create vertical tabs
			new VanillaTabs({
				'selector': '#tabs-v',	// default is ".tabs"
				'type': 'vertical', 		// can be horizontal / vertical / accordion
				'responsiveBreak': 840,	// tabs become accordion on this device width
				'activeIndex' : 0				// active tab index (starts from 0 ). Can be -1 for accordions.
			});

			// createaccordion
			new VanillaTabs({
				'selector': '#tabs-a',	// default is ".tabs"
				'type': 'accordion', 		// can be horizontal / vertical / accordion
				'responsiveBreak': 840,	// tabs become accordion on this device width
				'activeIndex' : 0			// active tab index (starts from 0 ). Can be -1 for accordions.
			});

		});
	</script>
  <script type="text/javascript" src="/layout/{{siteinfo.template}}/js/vanilla-tabs.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/layout/{{siteinfo.template}}/css/vanilla-tabs.min.css" media="screen" />
  