<link rel="stylesheet" type="text/css" href="/layout/{{siteinfo.template}}/css/layerslider.css" media="screen" />
<script type="text/javascript" src="/layout/{{siteinfo.template}}/js/layerslider.utils.js"></script>
<script type="text/javascript" src="/layout/{{siteinfo.template}}/js/layerslider.transitions.js"></script>
<script type="text/javascript" src="/layout/{{siteinfo.template}}/js/layerslider.kreaturamedia.jquery.js"></script>
<div class="dt-sc-main-slider" id="dt-sc-layer-slider">
    <script type="text/javascript">
        jQuery(function () {
            _initLayerSlider("#layerslider_4_dx4erv7y55mv", {
                sliderVersion: "",
                responsiveUnder: 1170,
                layersContainer: 1170,
                hideUnder: 0,
                hideOver: 50000,
                skin: "v5",
                thumbnailNavigation: "disabled",
                skinsPath: "#",
                type: "responsive",
                showCircleTimer: false,
            });
        });
    </script>
    <div id="layerslider_4_dx4erv7y55mv" class="ls-wp-container fitvidsignore" style="width: 100%; height: 645px; max-width: 1920px; margin: 0 auto; margin-bottom: 0px;">
        <div class="ls-slide" data-ls="duration:4000;transition2d:4;">
            <img
                width="1920"
                height="645"
                src="/images/bg3.webp"
                class="ls-bg"
                alt=""
                loading="lazy"
                sizes="(max-width: 1920px) 100vw, 1920px"
            />
            <div
                style="font-weight: 300; z-index: 5; padding-left: 0px; font-family: 'Lato', 'Open Sans', sans-serif; font-size: 40px; line-height: 46px; color: #101017; top: 170px; left: 830px;"
                class="ls-l"
                data-ls="offsetyin:-100;durationin:1000;delayin:2500;transformoriginin:left 50% 0;durationout:400;rotateyout:-90;transformoriginout:left 50% 0;parallaxlevel:0;"
            >
                {{i18n "website_design"}}
            </div>
            <div
                style="font-weight: normal; z-index: 3; font-family: 'Lato'; font-size: 13px; line-height: 26px; color: #333; top: 308px; left: 781px;"
                class="ls-l"
                data-ls="offsetxin:-100;durationin:2000;delayin:4000;offsetxout:-80;durationout:400;parallaxlevel:0;"
            >
                {{i18n "website_design_text1"}}</br>
                {{i18n "website_design_text2"}}</br>
                {{i18n "website_design_text3"}}</br>
            </div>
            <div
                style="font-weight: 700; z-index: 3; font-family: 'Lato'; font-size: 60px; line-height: 26px; color: #01a8df; top: 230px; left: 830px;"
                class="ls-l"
                data-ls="offsetyin:50;durationin:2000;delayin:3000;offsetxout:-80;durationout:400;parallaxlevel:0;"
            >
                {{i18n "free"}}
            </div>
            <div style="top: 135px; left: 832px;" class="ls-l" data-ls="offsetyin:100;delayin:3000;offsetxout:-80;durationout:400;parallaxlevel:0;">
                <span
                    style="
                        background: #00a5df;
                        color: #fff;
                        display: inline-block;
                        font-family: 'Lato', sans-serif;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 24px;
                        margin: 10px 0 0;
                        padding: 0 7px 0 7px;
                        position: relative;
                        text-decoration: none;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        -ms-border-radius: 3px;
                        -o-border-radius: 3px;
                    "
                >
                   {{i18n "platform"}} 
                </span>
            </div>
            <img
                width="394"
                height="141"
                src="/images/quote.webp"
                class="ls-l"
                alt=""
                loading="lazy"
                srcset="/images/quote.webp 394w"
                sizes="(max-width: 394px) 100vw, 394px"
                style="top: 145px; left: 780px;"
                data-ls="offsetxin:80;durationin:1600;delayin:3500;rotateyin:90;offsetxout:-80;durationout:400;parallaxlevel:0;"
            />
            <img
                width="106"
                height="143"
                src="/images/html-logo.webp"
                class="ls-l"
                alt=""
                loading="lazy"
                style="top: 405px; left: 1070px;"
                data-ls="offsetxin:-150;delayin:5500;rotateyin:180;offsetxout:-80;durationout:400;parallaxlevel:0;"
            />
            <img
                width="106"
                height="143"
                src="/images/css3-logo.webp"
                class="ls-l"
                alt=""
                loading="lazy"
                style="top: 405px; left: 790px;"
                data-ls="delayin:4500;rotateyin:180;offsetxout:-80;durationout:400;parallaxlevel:0;"
            />
            <img
                width="698"
                height="645"
                src="/images/browser.webp"
                class="ls-l"
                alt=""
                loading="lazy"
                sizes="(max-width: 698px) 100vw, 698px"
                style="top: 0px; left: 70px;"
                data-ls="offsetyin:300;durationin:1500;delayin:500;offsetxout:-80;durationout:400;parallaxlevel:0;"
            />
            <img
                width="322"
                height="452"
                src="/images/iphone6.webp"
                class="ls-l"
                alt=""
                loading="lazy"
                sizes="(max-width: 322px) 100vw, 322px"
                style="top: 196px; left: -32px;"
                data-ls="offsetxin:-150;durationin:1500;delayin:1500;offsetxout:-80;durationout:400;parallaxlevel:0;"
            />
            <img
                width="114"
                height="105"
                src="/images/baloon.webp"
                class="ls-l"
                alt=""
                loading="lazy"
                style="top: 77px; left: -34px;"
                data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:2;"
            />
            <img
                width="82"
                height="82"
                src="/images/plus.webp"
                class="ls-l"
                alt=""
                loading="lazy"
                sizes="(max-width: 82px) 100vw, 82px"
                style="top: 432px; left: 940px;"
                data-ls="offsetxin:-150;delayin:5000;rotateyin:180;offsetxout:-80;durationout:400;parallaxlevel:0;"
            />
        </div>
    </div>
</div>

