<div class="block">
	<div class="left_menu">
		<div class="product_menu detail_menu">
    		{{> productmenu}}
		</div>
		<div class="newproductcont">
			{{> newproducts}}
		</div>
	</div>
	<div class="content_detail">
		<div class="main_news">
			<div class="breadcrumbs">
				<div id="bread">
					<ul class="items">
						<li class="homes"><a href="/">Trang chủ</a></li>
						<li class="homes"><a href="/{{{contents.seo_url}}}">{{{newcatdetail.name}}}</a></li>
					</ul>
				</div>
			
			</div>
		</div>
		<div class="product_detail">
			<div class="cats_content">
				<div class="row">
				{{#each contents as |images|}}
					<div class="col-lg-4 col-md-6 col-sm-6 list_news_item">
					   <div class="cat_image">
					   		<a href="/{{images.seo_url}}"><img src="/images/news/fullsize/{{images.image2}}"></a>
					   </div>
					  	<div class="cat_detail">
					   	{{#each images.detail as | listnews|}}
					   		<h4><a href="/{{images.seo_url}}">{{{listnews.name}}}</a></h4>
					   		<p>{{{listnews.shortdesc}}}...</p>
					   		<i><a href="/{{images.seo_url}}">Xem thêm</a></i>
					   	{{/each}}
					   </div>
					</div>	
				{{/each}}
				</div>
				<div class="content_page">
					<ul>
					{{#each allpage as |page|}}
						<li><a href="/{{{page.seo_url}}}?page={{page.pagecount}}">{{{page.pagecount}}}</a></li>
					{{/each}}
					</ul>
				</div>
				<div id="clear"></div>
			</div>
		</div>
	</div>
</div>