    <div id="horizontalTab">
        <ul>
            <li><a href="#tab-1" class="r-tabs-state-active">Sản phẩm hot</a></li>
            <li><a href="#tab-2">Sản phẩm mới</a></li>
            <li><a href="#tab-3">Sản phẩm bán chạy</a></li>
        </ul>
        <div id="tab-1" class="r-tabs-state-active">
          <div class="row">
            {{#each hotproducts as |productitem|}}
              <div class="hot_product_item col-xs-6 col-sm-6 col-md-2">
                <div class="hot_product_item_inner">
                  <div class="product_images">
                    <a href="/{{productitem.seo_url}}"><img src="{{../base_url}}/static/{{productitem.image_path}}medium/{{productitem.image}}" alt={{productitem.alt}}></a>
                    <ul class="cdz-product-labels">
                      {{#if productitem.new}}
                        <li class="label-item new"><div class="label-content">Mới</div></li>
                      {{/if}}
                      {{#if productitem.salepec}}
                        <li class="label-item sale"><div class="label-content">-{{productitem.salepec}}%</div></li>
                      {{/if}}
                    </ul>
                  </div>
                  <div class="product_detail">
                    <p class="product_name"><a href="/{{productitem.seo_url}}">{{truncateString productitem.detail.[0].name 45}}</a></p>
                    <div id="clear"></div>
                    <div class="stars-rating">
                      <div class="star-rating">
                          <span class="star-{{productitem.rating}}"></span>
                      </div>
                    </div>
                    <div id="clear"></div>
                    <div class="product_price">
                      <p>{{formatCurrency productitem.price}}</p>
                    </div>
                    {{#if productitem.sale}}
                        <div class="sale_pricebeauty"><p>{{formatCurrency productitem.sale_price}}</p></div>
                    {{/if}}
                    <div id="clear"></div>
                  </div>
                </div>
              </div>
            
            {{/each}}
            </div>
        </div>
        <div id="tab-2">
          <div class="row">
          {{#each newproducts as |productitem|}}
            
              <div class="hot_product_item col-xs-6 col-sm-6 col-md-2">
                <div class="hot_product_item_inner">
                  <div class="product_images">
                    <a href="/{{productitem.seo_url}}"><img src="{{../base_url}}/static/{{productitem.image_path}}medium/{{productitem.image}}" alt={{productitem.alt}}></a>
                    <ul class="cdz-product-labels">
                      {{#if productitem.new}}
                        <li class="label-item new"><div class="label-content">Mới</div></li>
                      {{/if}}
                      {{#if productitem.salepec}}
                        <li class="label-item sale"><div class="label-content">-{{productitem.salepec}}%</div></li>
                      {{/if}}
                    </ul>
                  </div>
                  <div class="product_detail">
                    <p class="product_name"><a href="/{{productitem.seo_url}}">{{truncateString productitem.detail.[0].name 45}}</a></p>
                    <div id="clear"></div>
                    <div class="stars-rating">
                      <div class="star-rating">
                          <span class="star-{{productitem.rating}}"></span>
                      </div>
                    </div>
                    <div id="clear"></div>
                    <div class="product_price">
                      <p>{{productitem.pricebeauty}}₫</p>
                    </div>
                    <div class="sale_pricebeauty">
                      <p>{{productitem.sale_pricebeauty}}₫</p>
                    </div>
                    <div id="clear"></div>
                  </div>
                </div>
              </div>
            {{/each}}
            </div>
        </div>
        <div id="tab-3">
          <div class="row">
          {{#each saleproducts as |productitem|}}
              <div class="hot_product_item col-xs-6 col-sm-6 col-md-2">
                <div class="hot_product_item_inner">
                  <div class="product_images">
                    <a href="/{{productitem.seo_url}}"><img src="{{../base_url}}/static/{{productitem.image_path}}medium/{{productitem.image}}" alt={{productitem.alt}}></a>
                    <ul class="cdz-product-labels">
                      {{#if productitem.new}}
                        <li class="label-item new"><div class="label-content">Mới</div></li>
                      {{/if}}
                      {{#if productitem.salepec}}
                        <li class="label-item sale"><div class="label-content">-{{productitem.salepec}}%</div></li>
                      {{/if}}
                    </ul>
                  </div>
                  <div class="product_detail">
                    <p class="product_name"><a href="/{{productitem.seo_url}}">{{truncateString productitem.detail.[0].name 45}}</a></p>
                    <div id="clear"></div>
                    <div class="stars-rating">
                      <div class="star-rating">
                          <span class="star-{{productitem.rating}}"></span>
                      </div>
                    </div>
                    <div id="clear"></div>
                    <div class="product_price">
                      <p>{{productitem.pricebeauty}}₫</p>
                    </div>
                    <div class="sale_pricebeauty">
                      <p>{{productitem.sale_pricebeauty}}₫</p>
                    </div>
                    <div id="clear"></div>
                  </div>
                </div>
              </div>
            {{/each}}
            </div>
        </div>
    </div>
   <script type="text/javascript">
        $(document).ready(function () {
            var $tabs = $('#horizontalTab');
            $tabs.responsiveTabs({
                rotate: false,
                startCollapsed: 'accordion',
                collapsible: 'accordion',
                setHash: true,
                click: function(e, tab) {
                    $('.info').html('Tab <strong>' + tab.id + '</strong> clicked!');
                },
                activate: function(e, tab) {
                    $('.info').html('Tab <strong>' + tab.id + '</strong> activated!');
                },
                activateState: function(e, state) {
                    //console.log(state);
                    $('.info').html('Switched from <strong>' + state.oldState + '</strong> state to <strong>' + state.newState + '</strong> state!');
                }
            });

            $('#start-rotation').on('click', function() {
                $tabs.responsiveTabs('startRotation', 1000);
            });
            $('#stop-rotation').on('click', function() {
                $tabs.responsiveTabs('stopRotation');
            });
            $('#start-rotation').on('click', function() {
                $tabs.responsiveTabs('active');
            });
            $('#enable-tab').on('click', function() {
                $tabs.responsiveTabs('enable', 3);
            });
            $('#disable-tab').on('click', function() {
                $tabs.responsiveTabs('disable', 3);
            });
            $('.select-tab').on('click', function() {
                $tabs.responsiveTabs('activate', $(this).val());
            });

        });
    </script>