
<div class="elementor-widget-container">
    <div class="elementor-heading-title elementor-size-default">Khách hàng nói về chúng tôi</div>
</div>
<div class="testimonial_bl">
  {{#each testimonials as |testimonial|}}
  <div  class="col-xs-6 col-sm-6 col-md-4">
      <div class="testimonial_item">
        <h4>"{{truncateString testimonial.testimonial_description 75}}"</h4>
        <div class="elementor-image-box-wrapper">
          <div class="elementor-image-box-img">
            <img src="{{../base_url}}/static{{testimonial.image_path}}">
          </div>
          <div class="elementor-image-box-content">
            <div class="elementor-image-box-title">{{testimonial.testimonial_name}}</div>
            <p>{{testimonial.testimonial_title}}</p>
          </div>
        </div>
        
      </div>
  </div>
  {{/each}}
</div>