<div class="row">
  <div class="new_news_title">{{i18n "featured_news"}}</div>
  {{#each hotnews as |hotnew|}}
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="hot_news_item">
      <div class="hot_news_img">
        <a href="/{{hotnew.url}}"><img  src="{{../base_url}}/{{hotnew.image_path}}medium/{{hotnew.image}}" alt="{{hotnew.alt}}" class="img-fluid" /></a>
      </div>
      <div class="hot_news_detail">
        <p class="news_create_date">{{timestampToString hotnew.create_date}}</p>
        <p class="hot_news_name"><a href="/{{hotnew.url}}">{{{truncateString hotnew.details.name 40}}}</a></p>
        <p class="hot_news_desc">{{{truncateString hotnew.details.desc 80}}}</p>
      </div>
    </div>
    
  </div>
  {{/each}}
</div>