<!DOCTYPE html>
<html lang="vi">
<head>
	<title>{{title}}</title>
  <meta name="keyword" content="">
  <meta content="{{description}}" name="description">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="{{orgimage}}">
  <link rel="canonical" href="{{canonical}}">
  {{#if istemplate}}
			<meta name="robots" content="NOINDEX">
	{{else}}
			<meta content="INDEX,FOLLOW" name="robots">
	{{/if}}
	<link rel="stylesheet" href="/layout/{{siteinfo.template}}/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/layout/{{siteinfo.template}}/css/style.css" />
  <link rel="stylesheet" href="/layout/{{siteinfo.template}}/css/addon.css" />
  <link rel="stylesheet" href="/layout/{{siteinfo.template}}/css/responsive.css" />
  <link rel="stylesheet" href="/layout/{{siteinfo.template}}/css/jcarousel.responsive.css" />
  <link rel="stylesheet" href="/layout/{{siteinfo.template}}/css/mmenu.css" />
  <link rel="stylesheet" href="/layout/{{siteinfo.template}}/css/font-awesome.min.css" />

  <script type="text/javascript" src="/layout/{{siteinfo.template}}/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/layout/{{siteinfo.template}}/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/layout/{{siteinfo.template}}/js/jquery.reveal.js"></script>
  <script type="text/javascript" src="/layout/{{siteinfo.template}}/js/jcarousel.responsive.js"></script>
  <script type="text/javascript" src="/layout/{{siteinfo.template}}js/jquery.jcarousel.min.js"></script>
  <script type="text/javascript" src="/layout/{{siteinfo.template}}js/mmenu.js"></script>
  
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&subset=vietnamese">
  <meta name="copyright" content="Giayfutsal.com.vn - Giày đá bóng chính hãng">
  <meta name="author" content="Giayfutsal.com.vn - Giày đá bóng chính hãng">
  <meta http-equiv="audience" content="General">
  <meta name="resource-type" content="Document">
  <meta name="distribution" content="Global">
  <meta name="revisit-after" content="1 days">
  <meta name="GENERATOR" content="Giayfutsal.com.vn - Giày đá bóng chính hãng">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:site_name" content="Giayfutsal.com.vn">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="vi_VN">
  <meta name="RATING" content="GENERAL">
  <meta charset="utf-8">
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-78751937-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>
	<div class="wrapper">
    <header>
      <div id="istemplate"><a href="#" class="big-link" data-reveal-id="myModal" data-animation="fade">Đăng ký sử dụng</a></div>
      <div id="top">
        <div class="container">
            <div class="header-top-left">
                <ul>
                  <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">Hotline: {{siteinfo.hotline}}</a></li>
                </ul>              
            </div>
            <div class="header-top-right">

            </div>
        </div>
      </div>
      <div id="top_mobile">
        <div class="container">
            <div class="header-top-left">
              <p class="hotline"><i class="fa fa-phone"></i> <a href="tel:+84903392491"> HOTLINE: 0903392491</a></p>
            </div>
          
        </div>
      </div>
      <div class="cont-header">
        <div class="container">
          {{>head}}
        </div>
      </div>
    </header>
    <div id="navition">
        <div class="container">
          <a href="#menu" class="mobimenuicon"><span></span></a>
          <div class="desktop_menu">
            {{>mainmenu}}
          </div>
        </div>
    </div>
    <div class="content" id="content">
      <div class="container">
          {{{body}}}
      </div>
    </div>
      <footer class="footer">
          {{>footer}}
      </footer>
    </div> <!-- /container -->
    {{>mobilenavi}}
  <div id="myModal" class="reveal-modal">
      <div id="register_info">
          <div>Ngay sau khi nhận được thông tin đăng ký, chúng tôi sẽ liên hệ trực tiếp với bạn để cung cấp tài khoản dùng thử</div>
          <div class="form-group">
            <p class="col-md-3 control-label">Họ và tên</p>
            <div class="col-md-9">
              <input class="form-control" id="name" name ="name" required="true"placeholder="Họ và tên">
            </div>
          </div>
         <div class="form-group">
            <p class="col-md-3 control-label">Điện thoại</p>
            <div class="col-md-9">
              <input class="form-control" id="phone" name ="phone" placeholder="Điện thoại">
            </div>
          </div>
         <div class="form-group">
            <p class="col-md-3 control-label">Email</p>
            <div class="col-md-9">
              <input class="form-control" id="email" name ="email" required="true" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <button class="btnsubmitform" style="background: #cc2b00;height: 45px;color: #fff;border:0; outline:none; width:100%;" type="button" onclick="sent()">ĐĂNG KÝ NGAY</button>
          </div>
      </div>
      <div id="thank_register">
        <img src="/images/check-mark-png-red-ok-22.png">
        Cảm ơn bạn đã đăng ký thông tin<br>
        Nhân viên hỗ trợ của chúng tôi sẽ liên hệ lại <br>
        Trong 1 giờ làm việc
      </div>
      <a class="close-reveal-modal">×</a>
    </div>
</body>
<script type="text/javascript">
$('.pro_detail').delegate('.list_size','click', function(){
  $('.list_size').removeClass('sizeactive');
  $(this).addClass('sizeactive');
});
 function addToCart(ID){
    var productcount = 1;
    var productadd = 1;
      var sizepro = $('.sizeactive').html();
      var datastring =  'productcount='+productcount+'&productadd='+ID;
      $.ajax({
                type: "POST",
                url: '/addtocart?'+datastring,
                data: {id: ID},
                success: function (result) {
                    if(result==1){
                        alert('Sản phẩm trong kho không đủ!');
                    }
                    else{
                      window.location = '/gio-hang';
                      //document.getElementById('product_price').innerHTML=array[1];
                      
                    }
                }
            });
   
    };
  
</script>
<script type="text/javascript">
	function DoSubmitSingleExts() {
		var txt = $('#ime').val().trim();
		window.location = '/tim-kiem?key=' + txt.toLowerCase();
	};
</script >
<script type="text/javascript">
  $.ajax({
  dataType: "json",
  url: '/getcart',
  data: '',
  success: function (result) {
    document.getElementById('cart-total').innerHTML=result.length;
  }
});
</script>
<script>
			new Mmenu( document.querySelector( '#menu' ) );
			document.addEventListener( 'click', ( evnt ) => {
				let anchor = evnt.target.closest( 'a[href^="#/"]' );
				if ( anchor ) {
					alert('Thank you for clicking, but that\'s a demo link.');
					evnt.preventDefault();
				}
			});
</script>
<script type="text/javascript">
        function sent() {
          var name = document.getElementById('name').value;
          var phone = document.getElementById('phone').value;
          var email = document.getElementById('email').value;
          var dataString = 'name='+name+'&email='+email+'&phone='+phone;
          //alert(dataString);
          if(email==""||phone==""||name==""){
              alert('Bạn vui lòng nhập đầy đủ thông tin');
          }
          else{
            $.ajax({
                    type: "POST",
                    url: '/registertouse?'+dataString,
                    data: { email: email },
                    success: function (result) {
                      document.getElementById("register_info").style.display = "none";
                      document.getElementById("thank_register").style.display = "block";
                         //alert(result);
                    }
                });
          }
          
        }
</script>
</html>
