<div class="bread_images" style="background: url(/static/template1/images/news/background-createtemplate.png) no-repeat center center transparent;background-size: cover;">
	<div class="container">
		<div class="breadcrumb">
			<h1  class="title_page">{{i18n "contact"}}</h1>
				<nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/">{{i18n "homepage"}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{i18n "contact"}}</li>
                    </ol>
                </nav>
		</div>
	</div>
</div>
<div class="list_contact">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 contact_right">
				<div class="hpr-form">
					<h2>{{i18n "7_day_free"}}</h2>
					<p>{{i18n "unlimited_features"}}</p>
					<div class="hpr-input hpr-text">
						<input id="name" type="text" placeholder="{{i18n "full_name"}} *" obj="Họ và tên" class="validate required" maxlength="255">
					</div>
					<div class="hpr-input hpr-text">
						<input id="phone" type="text" placeholder="Email *" obj="Họ và tên" class="validate required" maxlength="255">
					</div>
					<div class="hpr-input hpr-text">
						<input id="email" type="text" placeholder="{{i18n "phone"}}*" obj="Họ và tên" class="validate required" maxlength="255">
					</div>
					<div class="hpr-input hpr-text">
						<input id="career" type="text" placeholder="{{i18n "company_industry"}}*" obj="Họ và tên" class="validate required" maxlength="255">
					</div>
					<div class="hpr-button"><a id="next" onclick="senttrial()">{{i18n "free_trial"}}</a></div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8 contact_left">
				<div class="contact-form">
					<h3 class="contact_company_name">{{i18n "company_name"}}</h3>
					<p><i class="fa fa-location-arrow"></i> {{i18n "address"}}: {{i18n "company_name"}}</p>
					<p><i class="fa fa-phone"></i> {{i18n "phone"}}: {{siteinfo.hotline}}</p>
					<p><i class="fa fa-envelope"></i>Email: {{siteinfo.customer_email}}</p>
					<img src="/static/template1/images/news/map.png">
				</div>
				
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
        function senttrial() {
          var name = document.getElementById('name').value;
          var phone = document.getElementById('phone').value;
          var email = document.getElementById('email').value;
		  var career = document.getElementById('career').value;
          var dataString = 'name='+name+'&email='+email+'&phone='+phone+'&career='+career;;
          //alert(dataString);
          if(email==""||phone==""||name==""){
              alert('Bạn vui lòng nhập đầy đủ thông tin');
          }
          else{
            $.ajax({
                    type: "POST",
                    url: '/gettrial?'+dataString,
                    data: { email: email },
                    success: function (result) {
						window.location.href = '/thankyou';
                         //alert(result);
                    }
                });
          }
          
        }
</script>