
<script type="text/javascript" src="/layout/{{siteinfo.template}}/js/pgwslider.min.js"></script>
<link rel="stylesheet" type="text/css" href="/layout/{{siteinfo.template}}/css/pgwslider.min.css" media="screen" />
<div class="block">
	<div class="content_detail">
		<div class="main_news">
			<div class="breadcrumbs">
				<div id="bread">
					<ul class="items">
						<li class="item home"><a href="/">Trang chủ</a></li>
						<li class="item product"><strong>{{{details.name}}}</strong></li>
					</ul>
				</div>
			
			</div>
		</div>
		<div class="product_detail">
			<div class="product_image">
				<ul class="pgwSlider">
                <li><img src="/static/{{siteinfo.customer}}/images/products/medium/{{contents.image}}" alt='' data-large-src="/static/{{siteinfo.customer}}/images/products/fullsize/{{contents.image}}"></li>
				{{#each contents.list_images as |image|}}
					<li><img src="{{image.image_path}}/medium/{{image.image}}" alt=''  data-large-src="{{image.image_path}}/fullsize/{{image.image}}"></li>
                {{/each}}
				</ul>
			</div>
			<div class="product_info">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<h1>{{{details.name}}}</h1>
					<p>{{{details.desc}}}</p>
					<p class="price">Giá: {{{price}}} Đ</p>
					{{#if outofstock}}
						<p class="outstock">Tình trạng:<span> Hết hàng<span></p>
					{{else}}
						<p class="instock">Tình trạng:<span> Còn hàng<span></p>
					{{/if}}
					{{#each product_details as |list_detail|}}
                        <p class="choise_size">Chọn {{{list_detail.detail_name}}}</p>
						<div class="pro_detail">
							<ul>
							{{#each list_detail.detail_value as |value|}}
								<li class="list_size">{{{value.value}}}</li>
							{{/each}}
							</ul>
						</div>
                     {{/each}}


					<button id="product-addtocart-button" class="action primary tocart button btn-cart" title="Add to Cart" type="submit" onclick="addToCart({{{contents.product_id}}})">
					<span>Thêm vào giỏ hàng</span>
					</button>
				</div>
			</div>
			<div id="clear"></div>
		</div>
		<div class="product_content">
			<div class="product_content_title">
				<div class="product_content_tit">
					<p>Chi tiết</p>
				</div>
			</div>
			<div class="detail_of_product">
				{{{details.content}}}
			</div>
		</div>
		<div class="productcat_title">
			<h2 class="productcat_name">Sản phẩm liên quan</h2>
		</div>
		<div class="row">
				{{#each rateproducts as |images|}}
	                <div class="col-xs-6 col-sm-6 col-md-3 {{images.class}}">
	                  <div class="product_item">
	                      <div class="product_images">
	                          {{#if images.image1}}
	                            <a href="/{{images.seo_url}}"><img src="/static/{{images.image_path}}/medium/{{images.image1}}" alt="{{images.alt}}"></a>
	                          {{else}}
	                            <a href="/{{images.seo_url}}"><img src="/static/{{images.image_path}}/medium/{{images.image}}" alt="{{images.alt}}"></a>
	                          {{/if}}
	                      </div>
	                      <div class="product_detail">
	                        {{#each images.detail as |productdetail|}}
	                          <p class="product_name"><a href="/{{images.seo_url}}">{{{productdetail.name}}}</a></p>
	                        {{/each}}
	                        <div class="product_price"><p>Giá: {{images.pricebeauty}} Đ</p></div>
	                      </div>
	                    </div>
	                </div>	
				{{/each}}
			</div>
	</div>
</div>
<script>
$(document).ready(function() {
    $('.pgwSlider').pgwSlider({transitionEffect : 'fading',listPosition : 'left'});
});
</script>