<div class="footer-container">
  <div class="container">
    <div class="row">
      {{#each sitefooter as |footer|}}
        <div class="col-md-3 col-xs-6">
          <span class="fmn">{{footer.footer_name}}</span>
          {{#each footer.footer_child as |childfooter|}}
            <p><a href="/{{childfooter.child_url}}">{{{childfooter.child_name}}}</a></p>
          {{/each}}
        </div>
      {{/each}}

      <div class="col-md-2 col-sm-5 col-xs-12">
        <span class="fmn" style="margin-bottom:0;">Đối tác vận chuyển</span>
          <img src="/images/vnpost.png" style="padding-right:5px;" alt="vnpost">
          <img src="/images/viettelpost.png" style="padding-right:5px;" alt="viettelpost">
          <img src="/images/ghn.png" style="padding-right:5px;" alt="giaohanghanh">
          <img src="/images/giaohangtietkiem.png" alt="giaohangtietkiem">
        <span class="fmn" style="margin-bottom:0;">Phương thức thanh toán</span>
          <img src="/images/tienmat.png" style="padding-right:5px;" alt="tien mat">
          <img src="/images/cod.png" style="padding-right:5px;" alt="cod">
          <img src="/images/bank.png" alt="chuyen khoan">
      </div>

      <div class="col-md-4 col-sm-7 col-xs-12">
          <span class="fmn">Liên hệ với chúng tôi</span>
            <div class="footer_address">
                  {{siteinfo.company_name}}
            </div>
            <div class="footer_address">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Địa chỉ: {{siteinfo.customer_address}}
            </div>
            <div class="footer_address">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  Điện thoại: {{siteinfo.customer_phone}}
            </div>
            
            <div class="footer_address">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  Email: {{siteinfo.customer_email}}
            </div>

          <span class="fmn">Kết nối với chúng tôi</span>
          	<div class="face1">
		<div class="fb-like-box" data-href="https://www.facebook.com/TB6277" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
	</div>


      </div>
      <div id="clear"></div>
  </div>
</div>

<div class="footer-bottom">
</div>