  <section class="regular slider">
    {{#each hotproducts as |listnews|}}
        <div>
            <div class="hot_product_item">
              <div class="product_images">
                  <a href="/{{listnews.seo_url}}"><img src="/static/{{listnews.image_path}}medium/{{listnews.image}}" alt={{listnews.alt}}></a>
              </div>
              <div class="product_detail">
                <p class="product_name"><a href="/{{listnews.seo_url}}">{{{listnews.productname}}}</a></p>
                        <div id="clear"></div>
                          <div class="product_price"><p>{{listnews.pricebeauty}}₫</p></div>
                          <div class="sale_pricebeauty"><p>{{listnews.sale_pricebeauty}}₫</p></div>
                        <div id="clear"></div>
              </div>
            </div>
        </div>
    {{/each}}
  </section>
    <script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
        dots: false,
        infinite: false,
        slidesToShow: 5,
        slidesToScroll: 5,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
      });
     
    });
</script>