<div class="slider" id="slider">
    {{>slider}}
</div>
<div class="intro-text type1" style="">
    <div class="container">
        <div class="column dt-sc-two-third first" style="">
            <h4 class="">{{i18n "choisetemplate"}}</h4>
        </div>
        <div class="column dt-sc-one-third" style="">
            <a href="#" target="_blank" class="dt-sc-button large"> Purchase this theme <span class="fa fa-angle-right"> </span> </a>
        </div>
    </div>
</div>
<div id="dt-sc-margin65"></div>

<div id="clear"></div>
<div class="block">
	<div class="container">
		<div class="list_template">
			<div class="list_template_title">
				<p class="title"><a href="#">{{i18n "why_to_choise_us"}}</a></p>
				<p>Có rất nhiều giao diện website được thiết kế sẳn để lựa chọn</br>
				Bạn chỉ cần lựa chọn giao diện website ưng ý và phù hợp với nhu cầu của bạn</br>
				Chọn đăng ký website là bạn đã có 1 website cho doanh nghiệp</br>
				</p>
			</div>
			
		</div>
	</div>
</div>
<div class="list_template">
	<div class="container">
		<div class="row">
				{{#each listtemplates as |template|}}
	                <div class="col-xs-6 col-sm-6 col-md-4 {{images.class}}">
	                  <div class="list_template_item">
	                      <div class="list_template_images">
	                        <a href="http://{{template.website_url}}"><img src="{{template.website_image_path}}{{template.website_image}}" alt="{{template.title}}"></a>
	                      </div>
	                      <div class="list_template_detail">
	                        <p class="product_name">{{{template.title}}}</p>
							<p class="product_name"><a href="http://{{template.website_url}}">Xem demo >></a></p>
	                      </div>
	                    </div>
	                </div>	
				{{/each}}
		</div>
	</div>
</div>
<div class="list_quality">
	<div class="container">
		<div class="row">
	        <div class="col-xs-6 col-sm-6 col-md-3 {{images.class}}" data-aos="fade-up" dat-aos-delay="100">
	            <div class="list_quality_item">
	                <div class="list_quality_images">
	                    <img src="/static/template1/images/icon1artboard_1_copy_10.png">
	                </div>
	                <div class="list_quality_detail">
	                    <p class="quality_name">Tiết kiệm thời gian</p>
						<p>Chỉ tốn vài tiếng cho việc cập nhật nội dung bạn đã có 1 website đẹp cho công ty.</p>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-6 col-sm-6 col-md-3 {{images.class}}" data-aos="fade-up" dat-aos-delay="100">
	            <div class="list_quality_item">
	                <div class="list_quality_images">
	                    <img src="/static/template1/images/tinhnang2-min.png">
	                </div>
	                <div class="list_quality_detail">
	                    <p class="quality_name">Tiết kiệm chi phí</p>
						<p>Với chi phí chỉ từ 500k đén 1tr đồng cho 1 năm sử dụng.</p>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-6 col-sm-6 col-md-3 {{images.class}}">
	            <div class="list_quality_item">
	                <div class="list_quality_images">
	                    <img src="/static/template1/images/icon1artboard_1_copy_13.png">
	                </div>
	                <div class="list_quality_detail">
	                    <p class="quality_name">Tốc độ, Chuẩn seo</p>
						<p>Tốc độ load website cực nhanh, được thiết kế thân thiện với google.</p>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-6 col-sm-6 col-md-3 {{images.class}}">
	            <div class="list_quality_item">
	                <div class="list_quality_images">
	                    <img src="/static/template1/images/icon1artboard_1_copy_12.png">
	                </div>
	                <div class="list_quality_detail">
	                    <p class="quality_name">An toàn, đẹp mắt</p>
						<p>Nhiều giao diện website đẹp mắt, thiết kế trên nền tảng hiện đại, an toàn.</p>
	                </div>
	            </div>
	        </div>			
		</div>
	</div>
</div>
<div class="block">
	<div class="container">
		<div class="list_template">
			<div class="list_template_title">
				<p class="title"><a href="#">Khách hàng nói về chúng tôi</a></p>
			</div>
		</div>
	</div>
</div>
<div class="list_template">
	<div class="container">
		<div class="row">
				{{#each testimonials as |testimonial|}}
	                <div class="col-xs-6 col-sm-6 col-md-4">
	                  <div class="list_quality_item">
	                      <div class="list_quality_images">
	                        <img src="/static{{testimonial.image_path}}" alt="{{testimonial.title}}">
	                      </div>
	                      <div class="list_template_detail">
	                        <p class="quality_name">{{{testimonial.testimonial_title}}}</p>
							<p>{{{testimonial.testimonial_description}}}</p>
	                      </div>
	                    </div>
	                </div>	
				{{/each}}
		</div>
	</div>
</div>