
<div class="bread_images" style="background: url({{contents.image_path}}{{contents.image}}) no-repeat center center transparent;background-size: cover;">
	<div class="container">
		<div class="breadcrumb">
			<h1  class="title_page">{{{details.name}}}</h1>
				<nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/">{{i18n "homepage"}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{{details.name}}}</li>
                    </ol>
                </nav>
		</div>
	</div>
</div>
<div class="block">
	<div class="container">
			<div class="page_content">
				{{{details.content}}}
			</div>
	</div>
</div>