<div class="block">
	<div class="left_menu">
		<div class="product_menu detail_menu">
    		{{> productmenu}}
		</div>
		<div class="newproductcont">
			{{> newproducts}}
		</div>
	</div>
	<div class="product_cat">
		<div class="main_news">
			<div class="breadcrumbs">
				<div id="bread">
					<ul class="items">
						<li class="item home"><a href="/">Trang chủ</a></li>
						<li class="item product"><strong>Tìm kiếm</strong></li>
					</ul>
				</div>
			
			</div>
		</div>
		<div class="product_content">
			<div class="row">
				{{#each contents as |listnews|}}
	                <div class="col-xs-6 col-sm-6 col-md-3 {{images.class}}">
	                  <div class="product_item">
	                      <div class="product_images">
	                           <a href="/{{listnews.seo_url}}"><img src="/static/{{websiteinfo "username"}}/images/products/medium/{{listnews.image}}" alt="{{listnews.alt}}"></a>
	                      </div>
	                      <div class="product_detail">
	                        {{#each listnews.detail as |productdetail|}}
	                          <p class="product_name"><a href="/{{listnews.seo_url}}">{{{productdetail.name}}}</a></p>
	                        {{/each}}
	                        <div class="product_price"><p>Giá: {{listnews.pricebeauty}} Đ</p></div>
	                      </div>
	                    </div>
	                </div>	
				{{/each}}
			</div>
				<div class="content_page">
					<ul>
					{{#each allpage as |page|}}
						<li><a href="/{{{page.seo_url}}}?page={{page.pagecount}}">{{{page.pagecount}}}</a></li>
					{{/each}}
					</ul>
				</div>
				<div id="clear"></div>				
		</div>
	</div>
</div>