<div class="bread_images" style="background: url(/static/template1/images/news/history.png) no-repeat center center transparent;background-size: cover;">
	<div class="container">
		<div class="breadcrumb">
			<h1  class="title_page">{{i18n "template_store"}}</h1>
				<nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">{{i18n "homepage"}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{i18n "template"}}</li>
                    </ol>
                </nav>
		</div>
	</div>
</div>
<div class="list_template">
	<div class="container">
		<div class="row">
				{{#each listtemplates as |template|}}
	                <div class="col-xs-6 col-sm-6 col-md-4 {{images.class}}">
	                  <div class="list_template_item">
	                      <div class="list_template_images">
	                        <a href="http://{{template.website_url}}"><img src="{{template.website_image_path}}{{template.website_image}}" alt="{{template.title}}"></a>
	                      </div>
	                      <div class="list_template_detail">
							<p class="product_name"><a href="http://{{template.website_url}}">{{i18n "view_demo"}}</a></p>
	                      </div>
	                    </div>
	                </div>	
				{{/each}}
			<div id="clear"></div>	
			<div class="content_page">
				<ul>
				{{#each allpage as |page|}}
					<li><a href="/{{{page.seo_url}}}?page={{page.pagecount}}">{{{page.pagecount}}}</a></li>
				{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>