<div class="footer-container">
  <div class="footer-content-top">
    <div class="container">
      {{>policies}}
    </div>
  </div>
  <div class="footer-content-middle">
    <div class="container">
      <div class="col-sm-14">
      <div class="row middle-top">
        <div class="newsletter_control newsletter_item">
            <span class="title">Đăng ký nhận tin khuyến mãi!</span>
        </div>
        <div class="newsletter_control">
          <input name="email" type="email" id="newsletter" placeholder="Đăng ký nhận bản tin">
        </div>
        <div class="newsletter_control">
          <button class="action subscribe primary" title="Subscribe" type="submit"><span>Đăng ký</span></button>
        </div>        
      </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {{#each sitefooter as |footer|}}
      <div class="col-md-3 col-xs-6">
        <span class="fmn">{{footer.footer_name}}</span>
        {{#each footer.footer_child as |childfooter|}}
        <p><a href="/{{childfooter.child_url}}">{{{childfooter.child_name}}}</a></p>
        {{/each}}
      </div>
      {{/each}}
      <div class="col-md-4 col-sm-7 col-xs-12">
        <span class="fmn">Liên hệ với chúng tôi</span>
        <div class="footer_address">
          {{siteinfo.company_name}}
        </div>
        <div class="footer_address">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Địa chỉ: {{siteinfo.customer_address}}
        </div>
        <div class="footer_address">
          <i class="fa fa-phone" aria-hidden="true"></i>
          Điện thoại: {{siteinfo.customer_phone}}
        </div>

        <div class="footer_address">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Email: {{siteinfo.customer_email}}
        </div>
      </div>
    </div>
    <div id="clear"></div>
  </div>
</div>
<div class="footer-content-bottom">
  <div class="container">
    <p>© 2018 softnests.com</p>
  </div>
</div>