<div class="breadcrumbs">
	<div id="bread">
		<ul class="items">
			<li class="item home"><a href="/">Trang chủ</a></li>
			<li class="item product"><strong>Tìm kiếm</strong></li>
		</ul>
	</div>
</div>
<div class="block">
	<div class="left_menu">
		<div id="product_menu" class="product_menu detail_menu">
    		{{> productmenu}}
		</div>
		<div class="new_product">
			<div class="block_new_product">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="product_cat">
		<div class="product_content">
			<div class="row">
				{{#each contents as |productitem|}}
	                <div class="col-xs-6 col-sm-6 col-md-3 {{images.class}}">
						<div class="product_item cat_product_item">
							<div class="product_images">
								{{#if productitem.image2}}
									<a href="/{{productitem.seo_url}}"><img src="/static/{{productitem.image_path}}/{{productitem.image2}}" alt="{{truncateString productitem.detail.[0].name 40}}"></a>
								{{/if}}
								{{#if productitem.image}}
									<a href="/{{productitem.seo_url}}"><img src="/static/{{productitem.image_path}}/medium/{{productitem.image}}" alt="{{truncateString productitem.detail.[0].name 40}}"></a>
								{{/if}}
							</div>
							<div class="product_detail">
								<p class="product_name"><a href="/{{productitem.seo_url}}">{{truncateString productitem.detail.[0].name 40}}</a></p>
								<div id="clear"></div>
								<div class="product_price"><p>Giá: Liên hệ</p></div>
								<div id="clear"></div>
							</div>
						</div>
	                </div>	
				{{/each}}
			</div>
			<div class="content_page">
				<ul>
					{{#each allpage as |page|}}
					<li><a href="/{{{page.seo_url}}}?page={{page.pagecount}}">{{{page.pagecount}}}</a></li>
					{{/each}}
				</ul>
			</div>
			<div id="clear"></div>
		</div>
	</div>
</div>