<link rel="stylesheet" href="/layout/css/images/pgwslider.min.css" type="text/css" media="screen" />
<script type="text/javascript" src="/layout/js/images/pgwslider.min.js"></script>

<div class="block">
	<div class="content_detail">
		<div class="main_news">
			<div class="breadcrumbs">
				<div id="bread">
					<ul class="items">
						<li class="item home"><a href="/">Trang chủ</a></li>
						<li class="item product"><strong>{{{details.name}}}</strong></li>
					</ul>
				</div>
			
			</div>
		</div>
		<div class="product_detail">
			<div class="product_image">
				{{#if contents.image1}}
						<li><img src="/static/{{siteinfo.customer_username}}/images/products/medium/{{contents.image1}}" alt='' data-large-src="/static/{{siteinfo.customer_username}}/images/products/fullsize/{{contents.image2}}"></li>
                    {{else}}
                    	<li><img src="/static/{{siteinfo.customer_username}}/images/products/medium/{{contents.image}}" alt='' data-large-src="/static/{{siteinfo.customer_username}}/images/products/fullsize/{{contents.image}}"></li>
                {{/if}}
				
			</div>
			<div class="product_info">
				<div class="col-lg-7 col-md-7 col-xs-12">
					<h1>{{{details.name}}}</h1>
					<p>{{{details.desc}}}</p>
					<p class="price">Giá: {{{price}}} Đ</p>
					{{#if outofstock}}
						<p class="outstock">Tình trạng:<span> Hết hàng<span></p>
					{{else}}
						<p class="instock">Tình trạng:<span> Còn hàng<span></p>
					{{/if}}
					{{#each product_details as |list_detail|}}
                        <p class="choise_size">Chọn {{{list_detail.detail_name}}}</p>
						<div class="pro_detail">
							<ul>
							{{#each list_detail.detail_value as |value|}}
								<li class="list_size">{{{value.value}}}</li>
							{{/each}}
							</ul>
						</div>
                     {{/each}}


					<button id="product-addtocart-button" class="action primary tocart button btn-cart" title="Add to Cart" type="submit" onclick="addToCart({{{contents.product_id}}})">
					<span>Thêm vào giỏ hàng</span>
					</button>
				</div>
				<div class="col-lg-5 col-md-5  col-xs-12 policy">
					<ul>
						<li>
							<div class="wrap-banner">
								<i class=" fa fa-truck"></i>
							</div>
							<div class="wrap-text-content">
								<h3 class="big-title">Đúng giờ</h3>
								<span class="small-title">Luôn đúng hẹn, giao trong 2 tiếng.</span>
							</div>
						</li>
						<li>
							<div class="wrap-banner">
								<i class="fa fa-mail-reply-all"></i>
							</div>
							<div class="wrap-text-content">
								<h3 class="big-title">TIỆN LỢI</h3>
								<span class="small-title">Dễ dàng mua hàng, đặt hàng thuận tiện.</span>
							</div>
						</li>
						<li>
							<div class="wrap-banner">
								<i class="fa fa-certificate"></i>
							</div>
							<div class="wrap-text-content">
								<h3 class="big-title">ĐẠT CHẤT LƯỢNG</h3>
								<span class="small-title">Nhãn hiệu tin cậy, an tâm tận tay.</span>
							</div>
						</li>
					</ul>
				</div>

			</div>
			<div id="clear"></div>
		</div>
		<div class="product_content">
			<div class="product_content_title">
				<div class="product_content_tit">
					<p>Chi tiết</p>
				</div>
			</div>
			{{{details.content}}}
		</div>
		
	</div>
</div>
<script>
$(document).ready(function() {
    $('.pgwSlider').pgwSlider();
});
</script>