<div class="breadcrumbs">
	<div id="bread">
		<ul class="items">
			<li class="item home"><a href="/">Trang chủ</a></li>
			<li class="item product"><strong>{{{productcatinfo.name}}}</strong></li>
		</ul>
	</div>
</div>
<div class="block">
	<div class="left_menu">
		<div id="product_menu" class="product_menu detail_menu">
    		{{> productmenu}}
		</div>
		<div class="new_product">
			<div class="block_new_product">
				{{>newproducts}}
			</div>
		</div>
	</div>
	<div class="product_cat">
		<div class="product_content">
			<div class="row">
				{{#each contents as |productitem|}}
	                <div class="col-xs-6 col-sm-6 col-md-2 {{images.class}}">
						<div class="product_item">
							<div class="product_images">
								<a href="/{{productitem.seo_url}}"><img src="/static/{{productitem.image_path}}/medium/{{productitem.image}}" alt="{{productitem.alt}}"></a>
								<ul class="cdz-product-labels">
									{{#if productitem.new}}
										<li class="label-item new"><div class="label-content">New</div></li>
									{{/if}}
									{{#if productitem.salepec}}
										<li class="label-item sale"><div class="label-content">-{{productitem.salepec}}%</div></li>
									{{/if}}
								</ul>
							</div>
							<div class="product_detail">
								<p class="product_name"><a href="/{{productitem.seo_url}}">{{truncateString productitem.detail.[0].name 50}}</a></p>
								<div id="clear"></div>
								<div class="product_price"><p>{{productitem.pricebeauty}}₫</p></div>
								{{#if productitem.salepec}}
									<p class="product_sale_price">{{formatCurrency productitem.sale_price}}₫</p>
								{{/if}}
								<div id="clear"></div>
							</div>
						</div>
	                </div>	
				{{/each}}
			</div>
				<div class="content_page">
					<ul>
					{{#each allpage as |page|}}
						<li><a href="/{{{page.seo_url}}}?page={{page.pagecount}}">{{{page.pagecount}}}</a></li>
					{{/each}}
					</ul>
				</div>
				<div id="clear"></div>				
		</div>
	</div>
</div>