
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{{productcatinfo.name}}}</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">{{{productcatinfo.name}}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="container">
	<div class="product_cat">
		<div role="tabpanel" class="tab-pane fade show active" id="grid-view">
			<div class="row">
				{{#each contents as |images|}}
                        <div class="col-lg-3 col-md-6">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <img  src="/static/{{images.image_path}}/medium/{{images.image}}" alt="{{images.alt}}" class="img-fluid" />
                                    <div class="mask-icon">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a>
                                            </li>
                                        </ul>
                                        <a class="cart" href="/{{images.seo_url}}">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4><a href="/{{images.seo_url}}">{{truncateString images.detail.[0].name 47}}</a></h4>
                                    {{#if images.sale_price}}
                                        <p class="s_price">Giá: {{formatCurrency images.sale_price}}₫</p>
                                    {{/if}}
                                    {{#if images.price}}
                                        <h5>{{formatCurrency images.price}}₫</h5>
                                    {{/if}}                                    
                                </div>
                            </div>
                        </div>	
				{{/each}}
			</div>
				<div class="content_page">
					<ul>
					{{#each allpage as |page|}}
						<li><a href="/{{{page.seo_url}}}?page={{page.pagecount}}">{{{page.pagecount}}}</a></li>
					{{/each}}
					</ul>
				</div>
				<div id="clear"></div>				
		</div>
	</div>
</div>