<link rel="stylesheet" href="/layout/{{siteinfo.customer_username}}/css/images/pgwslider.min.css" type="text/css" media="screen" />
<script type="text/javascript" src="/layout/{{siteinfo.customer_username}}/js/images/pgwslider.min.js"></script>
<div class="block">
	<div class="left_menu">
		<div class="product_menu detail_menu">
    		{{> productmenu}}
		</div>
		<div id="clear"></div>
		<div class="block_new_product">
			<div class="block-title">
				<strong><span>Sản phẩm mới</span></strong>
			</div>
			{{> newproducts}}
		</div>
	</div>
	<div class="content_detail">
		<div class="main_news">
			<div class="breadcrumbs">
				<div id="bread">
					<ul class="items">
						<li class="item home"><a href="/">Trang chủ</a></li>
						<li class="item product"><strong>{{{details.name}}}</strong></li>
					</ul>
				</div>
			
			</div>
		</div>
		<div class="product_detail">
			<div class="product_image">
                <li><img src="/static/{{siteinfo.customer_username}}/images/products/fullsize/{{contents.image}}" alt='' data-large-src="/static/{{siteinfo.customer_username}}/images/products/fullsize/{{contents.image}}"></li>
			</div>
			<div class="product_info">
				
					<h1>{{{details.name}}}</h1>
					<p>{{{details.desc}}}</p>
					<p class="price">Giá: {{{price}}} Đ</p>
					{{#if instock}}
						<p class="instock">Tình trạng:<span> Còn hàng<span></p>
					{{else}}
						<p class="outstock">Tình trạng:<span> Hết hàng<span></p>
					{{/if}}
					{{#if islogin}}
						{{#each product_more_info as |list_detail|}}
							<p class="more_info_detail"> {{{list_detail.info_name}}}: <span class="more_info_price">{{{list_detail.info_value}}}</span></p>
						{{/each}}
					{{else}}
						{{#each product_more_info as |list_detail|}}
							{{#if list_detail.status}}
								<p class="more_info_detail"> {{{list_detail.info_name}}}: <span>{{{list_detail.info_value}}}</span></p>
							{{else}}
								<p class="more_info_detail"> {{{list_detail.info_name}}}: <a href="/login"> VIP đăng nhập để xem giá</a></p>
							{{/if}}
						{{/each}}
					{{/if}}
					{{#each product_details as |list_detail|}}
                        <p class="choise_size">Chọn {{{list_detail.detail_name}}}</p>
						<div class="pro_detail">
							<ul>
							{{#each list_detail.detail_value as |value|}}
								<li class="list_size">{{{value.value}}}</li>
							{{/each}}
							</ul>
						</div>
                    {{/each}}
			</div>
			<div id="clear"></div>
		</div>
		<div class="product_content">
			<div class="product_content_title">
				<div class="block_title_parent">
					<div class="block-title">
						<strong><span>Chi tiết sản phẩm</span></strong>
					</div>
				</div>
			</div>
			{{{details.content}}}
		</div>
		<div class="rate_product">
			<div class="product_content_title">
				<div class="block_title_parent">
					<div class="block-title">
						<strong><span>Có thể bạn quan tâm</span></strong>
					</div>
				</div>
			</div>
			<div class="row">
				{{#each rateproducts as |images|}}
	                <div class="col-xs-6 col-sm-6 col-md-3 {{images.class}}">
	                  <div class="product_item">
	                      <div class="product_images">
	                          {{#if images.image1}}
	                            <a href="/{{images.seo_url}}"><img src="/static/{{images.image_path}}/medium/{{images.image1}}" alt="{{images.alt}}"></a>
	                          {{else}}
	                            <a href="/{{images.seo_url}}"><img src="/static/{{images.image_path}}/medium/{{images.image}}" alt="{{images.alt}}"></a>
	                          {{/if}}
	                      </div>
	                      <div class="product_detail">
	                        {{#each images.detail as |productdetail|}}
	                          <p class="product_name"><a href="/{{images.seo_url}}">{{{productdetail.name}}}</a></p>
	                        {{/each}}
	                        <div class="product_price"><p>Giá: {{images.pricebeauty}} Đ</p></div>
	                      </div>
	                    </div>
	                </div>	
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
    $('.pgwSlider').pgwSlider();
});
</script>