<div class="information-group">
  <div class="footer_address">
    <i class="fa fa-location-arrow" aria-hidden="true"></i>
    {{i18n 'address'}}: {{{siteinfo.customer_address}}}
  </div>
  <div class="footer_address">
    <i class="fa fa-phone" aria-hidden="true"></i>
    {{i18n 'phone'}}: : {{siteinfo.customer_phone}}
  </div>
  <div class="footer_address">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    Email: {{siteinfo.customer_email}}
  </div>
</div>
<div class="footer-content-bottom">
  <div class="container">
    <p>Copyright by Hoang Viet.</p>
  </div>
</div>