<div id="topnews">
  <div class="title">
    <p>TIN TỨC , SỰ KIỆN</p>
  </div>
  <div class="hot_new_content">
    <ul>
    {{#each hotnews as |hotnew|}}
    <li>
      <div class="hot_news_item">
        <div class="hot_news_img">
          {{#if hotnew.image2}}
          <a href="/{{hotnew.seo_url}}"><img src="/static/{{hotnew.image_path}}{{hotnew.image1}}" alt="{{hotnew.alt}}"
              class="img-fluid"></a>
          {{/if}}
          {{#if hotnew.image}}
          <a href="/{{hotnew.url}}"><img src="{{hotnew.image_path}}/medium/{{hotnew.image}}" alt="{{hotnew.alt}}"
              class="img-fluid" /></a>
          {{/if}}
        </div>
        <div class="hot_news_detail">
          <h3 class="hot_news_name"><a href="/{{hotnew.url}}">{{{truncateString hotnew.details.name 70}}}</a></h3>
          <p class="hot_news_desc">{{{truncateString hotnew.details.description 260}}}</p>
        </div>
      </div>
    </li>
    {{/each}}
    </ul>
  </div>
</div>