<link rel="stylesheet" href="/layout/{{siteinfo.template}}/css/images/pgwslider.min.css" type="text/css"
	media="screen" />
<script type="text/javascript" src="/layout/{{siteinfo.template}}/js/images/pgwslider.min.js"></script>

<div class="block">
	<div id="left_content">
		<div id="left_menu" class="product_menu detail_menu">
			{{> productmenu}}
		</div>
		<div id="clear"></div>
		<div id="search">
			<input type="text" name="keyword" id="" value="Nhập nội dung tìm kiếm" onclick="this.value = '';">
			<input class="bt_submit" type="submit" name="df" id="submit" value="">
		</div>
		<div id="left_menu">
			<div class="title1">
				<p>Hỗ trợ trực tuyến</p>
			</div>
			<div class="content">
				<ul>
					<li class="support">
						<p class="name">Kinh Doanh</p>
						<div id="clear"></div>
						<p class="hotline">0934.772.606</p>
						<div id="clear"></div>
						<p class="item"><a re_target="blank" target="blank" href="skype:dieukhac.hoangviet?chat"><img
									height="40" src="/static/{{siteinfo.customer}}/images/systems/skype.png"
									style="border: medium none;" alt="My status"></a></p>
						<div id="clear"></div>
					</li>
					<div id="clear"></div>
				</ul>
			</div>
		</div>
		<div id="left_menu">
			<div class="title1">
				<p>Sản Phẩm Mới</p>
			</div>
			{{> hotproducts}}
		</div>
		<div id="email_suport">
			<h4>Đăng ký nhận tin</h4>
			<div id="clear"></div>
			<div class="email">
				<input type="text" name="email" value="Email" onfocus="Focus(this)" onblur="Blur(this)" id="mail">
			</div>
			<div class="dangky">
				<input type="submit" name="dangky" value="Đăng ký" onclick="sent()">
			</div>
		</div>
	</div>
	<div class="content_detail">
		<div class="breadcrumbs">
			<div id="bread">
				<ul class="items">
					<li class="item home"><a href="/">Trang chủ</a></li>
					<li class="item product"><strong>{{{details.name}}}</strong></li>
				</ul>
			</div>
		</div>
		<div class="product_detail">
			<div class="product_detail_image">
				{{#if contents.image}}
				<img class="mainimg" src="/static/{{contents.image_path}}medium/{{contents.image}}" alt=''
						data-large-src="/static/{{contents.image_path}}fullsize/{{contents.image}}">
				{{else}}
				<img class="mainimg" src="/static/{{contents.image_path}}/{{contents.image2}}" alt=''
						data-large-src="/static/{{contents.image_path}}/{{contents.image3}}">
				{{/if}}
			</div>
			<div class="product_info">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<h1>{{{details.name}}}</h1>
					<p>{{{truncateString details.desc 300}}}</p>
					<p class="price">Giá: Liên hệ</p>
					{{islogin}}
					{{#if instock}}
					<p class="instock">Tình trạng:<span> Còn hàng<span></p>
					{{else}}
					<p class="outstock">Tình trạng:<span> Hết hàng<span></p>
					{{/if}}

					<div class="product_rate">
						<fieldset>
							<legend>Chia sẻ với bạn bè</legend>
							<div id="share">
								<div class="addthis_toolbox addthis_default_style "><a
										class="addthis_button_preferred_1"></a> <a
										class="addthis_button_preferred_2"></a> <a
										class="addthis_button_preferred_3"></a> <a
										class="addthis_button_preferred_4"></a> <a class="addthis_button_compact"></a>
									<a class="addthis_counter addthis_bubble_style"></a>
								</div>
								<script type="text/javascript"
									src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ffbc81a4ca89b9c"></script>
							</div>
						</fieldset>
					</div>
					{{#each product_details as |list_detail|}}
					<p class="choise_size">Chọn {{{list_detail.detail_name}}}</p>
					<div class="pro_detail">
						<ul>
							{{#each list_detail.detail_value as |value|}}
							<li class="list_size">{{{value.value}}}</li>
							{{/each}}
						</ul>
					</div>
					{{/each}}
					{{#if instock}}
					{{else}}
					{{/if}}
				</div>
			</div>
			<div id="clear"></div>
		</div>
		<div class="product_content product_detail_content">
			<div class="product_content_title">
				<div class="product_content_tit">
					<a>Chi tiết</a>
				</div>
			</div>
			{{{details.content}}}
		</div>
		<div id="clear"></div>
		<div class="rate_product">
			<div class="product_content_title">
				<div class="product_content_tit">
					<a>Có thể bạn quan tâm</a>
				</div>
			</div>
			<div class="row">
				{{#each rateproducts as |rateproduct_item|}}
				<div class="col-xs-6 col-sm-6 col-md-3">
					<div class="product_item cat_product_item">
						<div class="product_images">
							{{#if rateproduct_item.image}}
							<a href="/{{rateproduct_item.seo_url}}"><img
									src="/static/{{rateproduct_item.image_path}}/medium/{{rateproduct_item.image}}"
									alt="{{rateproduct_item.alt}}"></a>
							{{else}}

							<a href="/{{rateproduct_item.seo_url}}"><img
									src="/static/{{rateproduct_item.image_path}}/{{rateproduct_item.image2}}"
									alt="{{rateproduct_item.alt}}"></a>
							{{/if}}
						</div>
						<div class="product_detail">
							<p class="product_name"><a
									href="/{{rateproduct_item.seo_url}}">{{{rateproduct_item.detail.[0].name}}},
								</a></p>
							<div class="show_detail1"><a href="{{rateproduct_item.seo_url}}">Chi tiết</a></div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('.pgwSlider').pgwSlider();
	});
</script>
<script type="text/javascript">
	$('.pro_detail').delegate('.list_size', 'click', function () {
		$('.list_size').removeClass('sizeactive');
		$(this).addClass('sizeactive');
	});
	function addToCart(ID) {
		var productcount = 1;
		var productadd = 1;
		var datastring = 'productcount=' + productcount + '&productadd=' + ID;
		$.ajax({
			type: "POST",
			url: '/addtocart?' + datastring,
			data: { id: ID },
			success: function (result) {
				if (result == 1) {
					alert('Sản phẩm trong kho không đủ!');
				}
				else {
					var aaa = $("#cart-total").html();
					$('#cart-total').html(Number(aaa) + 1);
					$("#addedproduct").slideDown("slow");
					$("#addedproduct").slideToggle(2000);
				}
			}
		});
	};
	function Buynow(ID) {
		window.location.href = '/lien-he?content=' + 'Tôi quan tâm sản phẩm : ' + ID;
	};

</script>