<div class="breadcrumbs">
	<div id="bread">
		<ul class="items">
			<li class="item home"><a href="/">Trang chủ</a></li>
			<li class="item product"><strong>{{{productcatinfo.name}}}</strong></li>
		</ul>
	</div>
</div>
<div class="block">
	<div class="product_cat">
		<div class="product_content">
			<div class="row">
				{{#each contents as |product_item|}}
	                <div class="col-xs-6 col-sm-6 col-md-4 {{images.class}}">
						<div class="product_item cat_product_item">
							<div class="product_images">
								{{#if product_item.image2}}
									<a href="/{{product_item.seo_url}}"><img src="/static/{{product_item.image_path}}/{{product_item.image2}}" alt="{{truncateString product_item.detail.[0].name 40}}"></a>
								{{/if}}
								{{#if product_item.image}}
									<a href="/{{product_item.seo_url}}"><img src="/static/{{product_item.image_path}}/medium/{{product_item.image}}" alt="{{truncateString product_item.detail.[0].name 40}}"></a>
								{{/if}}
							</div>
							<div class="product_detail">
								<p class="product_name"><a href="/{{product_item.seo_url}}">{{{product_item.detail.[0].name}}}, <span>{{{product_item.detail.[0].desc}}}</span></a></p>
								<div class="desc_win8">
								<a href="/{{product_item.seo_url}}"><img src="/static/template9/images/systems/zoom_icon.png" alt="Search image"></a>
								</div>
							</div>
						</div>
	                </div>	
				{{/each}}
			</div>
				<div class="content_page">
					<ul>
					{{#each allpage as |page|}}
						<li><a href="/{{{page.seo_url}}}?page={{page.pagecount}}">{{{page.pagecount}}}</a></li>
					{{/each}}
					</ul>
				</div>
				<div id="clear"></div>				
		</div>
	</div>
</div>