<div class="footer-container">
  <div class="container">
    <div class="row">
      {{#each sitefooter as |footer|}}
      <div class="col-md-3 col-xs-6">
        <span class="fmn">{{footer.footer_name}}</span>
        {{#each footer.footer_child as |childfooter|}}
        <p><a href="/{{childfooter.child_url}}">{{{childfooter.child_name}}}</a></p>
        {{/each}}
      </div>
      {{/each}}
      <div class="col-md-4 col-sm-7 col-xs-12">
        <span class="fmn">Liên hệ với chúng tôi</span>
        <div class="footer_address">
          {{siteinfo.company_name}}
        </div>
        <div class="footer_address">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Địa chỉ: {{siteinfo.customer_address}}
        </div>
        <div class="footer_address">
          <i class="fa fa-phone" aria-hidden="true"></i>
          Điện thoại: {{siteinfo.customer_phone}}
        </div>

        <div class="footer_address">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Email: {{siteinfo.customer_email}}
        </div>
      </div>
    </div>
    <div id="clear"></div>
  </div>
</div>
<div class="footer-bottom">
</div>