<div class="block">
	<div class="menu_slider">
		<div class="slider">
			{{>slider}}
		</div>
	</div>
</div>
<div class="block">
	<div class="content_detail">
		<div class="about_us">
			<div class="about_content">
				<img src="{{hotpage.image_path}}{{hotpage.image}}" alt="Sản xuất Hộp gỗ, quà tặng Gỗ">
				<p>{{hotpage.detail.[0].desc}}</p>
			</div>
		</div>
		<div class="partner">
			<div class="row">
				{{#each partners as |partner|}}
				<div class="partner_item col-xs-6 col-sm-6 col-md-2">
					<a href="{{partner.url}}"><img src="/static{{partner.image_path}}" alt="{{partner.name}}"
							class="img-fluid"></a>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>